.container {
  text-align: center;
  margin-top: 20%;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.no-button.hovering {
  cursor: not-allowed;
}

.no-button {
  position: relative;
  transition: all 0.3s ease;
}

.yes-button {
  background-color: red;
  animation: blink 1s infinite;
  transition: all 0.3s ease;
}

.yes-button:hover {
  background-color: transparent;
  color: red;
  font-size: 24px;
  transition: all 0.3s ease;
}

.yes-button:hover::before {
  content: "\2665 😍"; /* Unicode for heart symbol */
  font-size: 24px;
}

.no {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
}

@keyframes blink {
  0%,
  100% {
    background-color: red;
  }
  50% {
    background-color: darkred;
  }
}
